.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5); /* Light gray overlay */
  z-index: 9999;
}

.slds-button_neutral {
    background-color: #e8eaef; /* Gray background for neutral */
    color: #000000;
   
}

.slds-button_destructive {
    background-color: #f01a12; /* Red background for canceled/failed */
    color: #ffffff;
}
.slds-button_success {
    background-color: #02da4e; /* Green background for success */
    color: #ffffff;
}

/* .responsive-status {
    background-color: #00c853; 
    color: white;
    font-weight: 600;
    border-radius: 6px;
    padding: 0.6rem 1rem;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .responsive-status {
        font-size: 0.85rem;
        padding: 0.5rem;
    }
} */

.status-pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.75rem;
    height: 2rem;
    border-radius: 999px;
    color: white;
    font-weight: 600;
    font-size: 0.85rem;
    white-space: nowrap;
}

.status-inactive {
    background-color: #e0e0e0; /* Light grey */
    color: #555;
}

.refresh-button-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #f3f2f2;
    margin-left: 0.5rem;
    cursor: pointer;
}

.refresh-button-container:hover {
    background-color: #e0e0e0;
}

.disabled-refresh {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.payment-link-container {
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px; /* Match standard button height */
    padding: 0 1rem; /* Match standard button padding */
    background-color: white;
}

.payment-link-btn {
    /* Remove default button padding/margin if needed to fit container */
    --slds-c-button-spacing-inline-start: 0;
    --slds-c-button-spacing-inline-end: 0;
}